extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/createGame' method="POST")
    h1= "Juego dados"

    div
      input(type="text" name="player" placeholder="Jugador 1" required)
      input(type="text" name="player" placeholder="Jugador 2" required)
      input(type="text" name="player" placeholder="Jugador 3" required)
    div
      input(type="submit" value="Enviar")
