extends layout

block content

  form(action='/createGame' class="d-grid gap-2 col-12 mx-auto" method="POST")
    h1= "Registro jugadores"

    div
      input(type="text" class="form-control" name="player" placeholder="Jugador 1" required)
    div
      input(type="text" class="form-control" name="player" placeholder="Jugador 2" required)
    div
      input(type="text" class="form-control" name="player" placeholder="Jugador 3" required)
    div
      input(type="submit" class="btn btn-primary btn-lg" value="Enviar")
